/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 0 0;
}

#profpic{
  width:100%; 
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

#profpic:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}




#information {
  background: url(../images/background.jpg) no-repeat center center fixed;
  display: table;
  padding: 8% 0 0 0;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

.right-div{
  margin-top: 200px;
  margin-bottom: 200px;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fab:hover{
  text-decoration: none;
}

.fab.fa-hackerrank{
  color: #59c362;
}

.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
}

.fab.fa-github{
  color: #424242;
}

.my-intro-details{
  background-color:white;
  opacity: 0.95;
  padding-left: 7%;
}

.my-intro-bkg{
  background-color:white;
  opacity: 0.95;
  padding: 0;
}

.font_0 {font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_1 {font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#605E5E;} 
.font_2 {font: normal normal normal 25px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_3 {font: normal normal normal 60px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_4 {font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_5 {font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#182153;} 
.font_6 {font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#182153;} 
.font_7 {font: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_8 {font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_9 {font: normal normal normal 12px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#182153;} 
.font_10 {font: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#605E5E;} 

.color_19 {color: #182153;}

.padded-section{
  display: table;

  width: 100%;
}

#section2{
  background: #f1f1f1 center center;
}

#section3 #section4 #section5 #section6{
  background: #ffffff center center;
}

#intro-div, #skills-div{
  text-align: center;
  padding: 10%;
}

body{
  font-family: 'Raleway', sans-serif;
  line-height: 29px;
}

.div-header{
  text-align: center;
  padding: 30px 0;
  letter-spacing:0.2em;
}
hr{
  margin: 0;
}


ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 27px;
  width: 1px;
  height: 1px;
  z-index: 400;
}

.btn{
  margin: 5px;
}

.fa-star{
  color: lightgrey;
}

.checked {
  color: orange;
}

.navbar{
  background: white;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14px;
}

.my-start{
  margin-top: 7%;
}

.navbar-brand{
  font-size: 30px;
}

.bold{
  font-family: 'Raleway-Bold', sans-serif;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

i.icon {
  display:inline-block; /* chrome-fix */
}

